:root {
  --pending-field-color: #8597a3;
  --fullfil-field-color: #6658d3;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 4rem 1fr;
  place-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
}

.flex-spacer {
  flex-grow: 1;
}
