---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Página de formulario">
  <main>
    <h1>Página de formulario</h1>
    <form >
      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name">
      </div>
  
      <div>
        <label for="age">Edad</label>
        <input type="number" name="age" id="age">
      </div>
  
      <div>
        <label for="email">Correo electrónico</label>
        <input type="email" name="email" id="email">
      </div>
  
      <button>Enviar</button>
    </form>
  </main>
</Layout>
