---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Página inicial">
	<main>
    <h1>Página inicial</h1>

    <p>
      Esta es la página principal de esta espectacular sitio web. Explora nuestra <a href="./gallery.html">galería</a> y
      regístrate <a href="./form.html">aquí</a> para enterarte cuanto antes de las últimas novedades.
    </p>
	</main>
</Layout>
