<header class="header">
  <span class="header__item"><a href="./index.html">Mi web</a></span>
  <nav class="header__item nav">
    <ul class="nav__ul">
      <li class="nav__ul__item"><a href="./gallery.html">Galería</a></li>
      <li class="nav__ul__item"><a href="./form.html">Registro</a></li>
    </ul>
  </nav>
</header>
