<header>
  <a href="/">
    <img src="/favicon.svg" alt="Logo" width="38" height="54">
    <span>Mi web</span>
  </a>
  <span class="flex-spacer"></span>
  <nav>
    <ul>
      <li><a href="/gallery/">Galería</a></li>
      <li><a href="/form/">Registro</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    width: 100%;
    height: 4rem;
    background-color: var(--fullfil-field-color);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px var(--fullfil-field-color);
  }

  ul {
    display: flex;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    white-space: nowrap;
  }

  a[href='/'] {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    a:hover {
      font-weight: bolder;
    }
  }
</style>
